*{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica;	
}
body{
	background-color:#F5F5F5;
}
.headernav{
	display: flex;
    	border-bottom: 2px solid #e6e6e6;
    	align-items: center;
    	background-color: #ffffff;
    	width: 98%;	
	padding: 11px;
}
.headernav img{
	padding-left: 22px;
    	width: 37px;
}
.middlepart{
	padding-top: 3px;
    	padding-left: 6px;
    	margin-left: 108px;
    	border: 1px solid gray;
    	border-radius: 20px;
	margin-right:218px;
}
.middlepart input{
	vertical-align: super;
    	border: none;
    	background-color: transparent;
	font-size: 13px;
    	width: 448px;
}
.middlepart input:focus{
	outline:none;
}
.headernav .slot{
    background-color: rebeccapurple;
}
.headernav button{
	padding: 7px;
    	border-radius: 14px;
    	border: 1px solid #8A8AFF;
    	background-color: #8A8AFF;
    	color: #ffffff;
	margin-left: 16px;
	cursor:pointer;
}
.headernav .user{
	background-color: rebeccapurple;
}
.headernav .log{
    	background-color: palevioletred
}
.heading{
	font-size: 29px;
    	margin-bottom: 15px;
    	color: #a52a2a;
}
.mainbody img{
	width: 99.6%;
    	z-index: -1;
    	position: absolute;
	opacity: 0.6;
}
.mainbody label{
	color: #a52a2a;
    	margin-left: 20px;
}
table{
	border-collapse: collapse;
}
table td,table th{
    	border-radius: 2px;
    	padding: 15px;
    	padding-right: 75px;
}
table th{
	background-color: #efbece;
	padding: 6px 0px;
	white-space: nowrap;
	text-align: left;
}
table tr:nth-child(even){
	background-color:#f9e7ed;
}
.layer1{
	padding-left: 153px;
    	padding-top: 36px;
}
table #cancel,.layer1 #cancel{
	color: #ff0000;
}
table #allow,.layer1 #allow{
	color: #008000;
}
.layer1 #allow,.layer1 #cancel{
	vertical-align: bottom;
}